[submodule "cutest"]
	path = cutest
	url = git://github.com/badgerman/cutest.git
[submodule "cmake"]
	path = cmake
	url = git://github.com/eressea/cmake.git
[submodule "storage"]
	path = storage
	url = git://github.com/badgerman/storage.git
[submodule "crypto"]
	path = crypto
	url = git://github.com/badgerman/crypto.git
